@{
    ViewBag.Title = "自助扣款";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_PartialXiaopiaoControl.cshtml");}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/docs.min.css" rel="stylesheet" />
<link href="~/Scripts/simple-calendar/tcal.css" rel="stylesheet" />
<div class="page-header text-center">
    <h1><small>欢迎进入</small> 自助冻结 <small>这里您可以IC卡金额的冻结处理操作</small></h1>
    <input type="hidden" id="UserName" name="UserName" value="@ViewData["UserName"]" />
    <input type="hidden" id="FManagerCard" name="FManagerCard" value="@ViewData["FManagerCard"]" />

    <input type="hidden" id="FCrimeCode" name="FCrimeCode" value="@ViewData["fcrimecode"]" />
    <input type="hidden" id="FIcCardCode" name="FIcCardCode" />
</div>

<div>
    <object id=MWRFATL style="WIDTH: 0px; HEIGHT: 0px"
            codebase=eyeFZ.cab#version =1,0,0,1
            classid=CLSID:CD851DCA-5D3C-4DA9-A0F7-DE018FDC0A7F></object>@*加载数明华读卡器控件*@


            <div class="row">
                <div class="col-sm-10">
                    <h3 id="userNameInfo">你好, 某某某<span class="label label-primary">普管(500)</span>,您的账户信息如下：</h3>

                </div>
                <div class="col-sm-2">
                    <div style=" text-align:right;">
                        <input type="hidden" id="orderFcrimeCode" />
                        <input type="hidden" id="orderFcrimeName" />
                        <input type="hidden" id="orderCyName" />
                        <input type="hidden" id="orderFareaName" />
                        @if (ViewData["LoginMode"].ToString() == "2")
                        {
                            <a class="btn btn-large btn-primary btn-lg" href="/Home/WebCamTest3?callback=/SelfDongJie/Index?managerCardNo=@ViewData["FManagerCard"]" role="button">请刷人脸识别</a>

                        }
                        else
                        {
                            <a class="btn btn-large btn-primary btn-lg" href="#" role="button" onclick="btnQueryUserInfo('3504013494')">请先刷IC卡查询</a>
                        }
                    </div>
                </div>

            </div>
            <div class="alert alert-danger" role="alert" id="lblInfo">银行账号：</div>
            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        <thead>
                            <tr><th>名称</th><th>金额</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>存款余额</td><td id="amountA">0.00</td></tr>
                            <tr><td>报酬金额</td><td id="amountB">0.00</td></tr>
                            <tr><td>留存金额(不可用)</td><td id="amountC">0.00</td></tr>
                            <tr><td>冻结金额</td><td id="dongJieMoney">0.00</td></tr>
                            <tr><td>本月已经消费</td><td><span class="label label-danger" id="curMonthXFE">0.00</span></td></tr>
                            <tr><td>本月消费限额</td><td><span class="label label-warning" id="xiaofeiYuE">0.00</span></td></tr>
                            <tr class="danger"><td>账户可用总余额</td><td id="okUseAllMoney">0.00</td></tr>
                        </tbody>
                    </table>

                </div>
                @if (ViewData["softNumerKeyBoard"].ToString() == "1")
                {
                    <div class="col-md-6">
                        <h3>请输入要【冻结】的金额 ：</h3>
                        @{Html.RenderPartial("~/Views/SelfDongJie/_Partial_DongJieMoney.cshtml");}
                    </div>
                    <div class="col-md-3" id="div_SaleInputKeyBoard">
                        @{Html.RenderPartial("~/Views/Shopping/_PartialNumberKeyBoard.cshtml");}
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <h3>请输入要【冻结】的金额 ：</h3>
                        @{Html.RenderPartial("~/Views/SelfDongJie/_Partial_DongJieMoney.cshtml");}
                    </div>

                }

            </div>
        </div>

        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="~/Scripts/messenger.min.js"></script>
        <script src="~/Scripts/myJs/minghuaICcardCommon.js"></script>
        <script src="~/Scripts/myJs/commonJs.js"></script>
        <script src="~/Scripts/myJs/MyNumerKeyBoard.js"></script>
        <script src="~/Scripts/myJs/SelfDongJie.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // 此处填写页面加载完成后要执行的操作
                if ($("#FManagerCard").val() != undefined && $("#FManagerCard").val() != "" && $("#FCrimeCode").val() != undefined && $("#FCrimeCode").val() != "") {
                    $.post("/SelfDongJie/QueryUserInfo", { "fcrimecode": $("#FCrimeCode").val(), "checkFlag": "1", "FManagerCard": $("#FManagerCard").val(), "UserName": $("#UserName").val() }, function (data, status) {
                        if ("success" != status) {
                            return false;
                        } else {
                            var words = data.split("|")
                            if (words[0] == "Error") {
                                $("#lblInfo").html(data);
                                $("#userNameInfo").html("对不起，没有查到您的账户信息，请与管教联系！");
                                $("#btnSubmitKK").attr("disabled", "disabled");//禁用扣款提交按钮
                                ClearUserDisplayInfo();
                            } else if (words[0] == "There") {
                                SetAndDisplayUserInfo(words[1]);
                                $("#KKMoney").focus();
                            }
                            else {
                                //SetAndDisplayCriminalInfo(words[1], saleSort);//显示抬头栏的账户余额信息
                            }
                        }
                    });
                }

            });
            function changeRmbDX() {
                if ($("#selSaveType").find("option:selected").val() == "") {
                    alert("请先选择一个扣款类型");
                    return false;
                }
                var kkmoney = $("#KKMoney").val();
                var rmbdx = DX(kkmoney);
                $("#rmbDX").html(rmbdx);
            }

            //提交扣款
            function btnSubmitKK() {

                var kkmoney = $("#KKMoney").val();
                if (kkmoney == "") {
                    alert("请输入金额");
                    return false;
                }
                if (parseFloat(kkmoney) < 10) {
                    alert("冻结金额不能小于10元，要完全解除冻结须与供应站联系，谢谢");
                    return false;
                }
                var oldDJMoney = $("#dongJieMoney").html();
                if (parseFloat(kkmoney) < parseFloat(oldDJMoney)) {
                    if(!confirm("您冻结的金额小于原先冻结的金额【须报告财务科】，是否确认冻结这个金额？")){
                        return false;
                    }
                }
                if (isNaN(kkmoney)) {
                    $("#lblInfo").text("错误：数量必须是数字的，不能其他字母");
                    return false;
                }
                $("#btnSubmitKK").attr("disabled", "disabled");//禁用扣款提交按钮
                $.post("/SelfDongJie/btnSubmitKK", {
                    "FCrimeCode": $("#FCrimeCode").val()
                    , "KKMoney": kkmoney
                    , "FIcCardCode": $("#FIcCardCode").val()
                    , "FManagerCard": $("#FManagerCard").val()
                    , "DType": $("#selSaveType").find("option:selected").val()
                }
                    , function (data, status) {
                        if ("success" != status) {
                            return false;
                        } else {
                            var words = data.split("|");
                            if (words[0] == "OK") {                                
                                $("#lblInfo").html("冻结成功");
                                $("#FCrimeCode").val('');
                                $("#FIcCardCode").val('');
                                $("#KKMoney").val('');
                                $("#dongJieMoney").html(words[1]);
                                alert("恭喜您，冻结成功");
                            } else {
                                $("#lblInfo").html("冻结失败：" + data);
                                alert(data);
                            }
                        }
                    });
            }
        </script>
