
<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />


@*<h3>----用户权限管理----</h3>
    <hr />*@
<div class="row">
    <div class="col-sm-9">
        
        <div>
            <table id="tb"></table>
        </div>

    </div>

</div>

<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/bootstrap-table-toolbar.js"></script>
<script src="~/Scripts/bootstrap-table-filter-control.js"></script>
<script src="~/Scripts/bootstrap-table-export.js"></script>

<script src="~/Scripts/myJs/NewLayout/commonJs.js"></script>
<script src="~/Scripts/myJs/NewLayout/BI_CriminalMgr.js"></script>

