
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        
        <div class="page-header">
            <h2><span style="color:orange;">WELCOME>></span></h2>
            <h2><small>欢迎使用电子购物平台系统</small></h2>
        </div>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                @*<h3><span style="color:orange;">自主、快捷、简单、方便</span></h3>*@
                <img src="~/Content/images/computer.jpg" />
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                @*<h3><span style="color:orange;">自主、灵活、简单、方便</span></h3>*@
                
                <div class="page-header">
                    <h4><span class="glyphicon glyphicon-th-large text-primary" aria-hidden="true"> 功能齐全</span></h4>

                </div>
 
                <div class="page-header">
                    <h4><span class="glyphicon glyphicon-random text-warning" aria-hidden="true"> 管理灵活</span></h4>

                </div>
                
                <div class="page-header">
                    <h4><span class="glyphicon glyphicon-pencil text-primary" aria-hidden="true"> 操作简单</span></h4>

                </div>
                <div class="page-header">
                    <h4><span class="glyphicon glyphicon-inbox text-warning" aria-hidden="true"> 使用方便</span></h4>

                </div>


            </div>
            @*<div class="col-sm-6">
                <ul id="intro-feature-list">
                    <li class="intro-feature-wrap">
                        <div class="intro-feature">
                            <h3><span class="glyphicon glyphicon-th-large text-primary" aria-hidden="true"> 系统管理全面</span></h3>
                            <p class="intro-feature-desc">集财务管理、库存管理、销售管理、人员管理等</p>
                        </div>
                    </li>
                    <li class="intro-feature-wrap">
                        <div class="intro-feature">
                            <h3><span class="glyphicon glyphicon-lock text-primary" aria-hidden="true"> 资金银行托管</span></h3>
                            <p class="intro-feature-desc">安全可靠学员资金银行托管服务，方便、快捷、实时的亲属异地存款功能</p>
                        </div>
                    </li>
                    <li class="intro-feature-wrap">
                        <div class="intro-feature">
                            <h3><span class="glyphicon glyphicon-tags text-primary" aria-hidden="true"> 快捷自助服务</span></h3>
                            <p class="intro-feature-desc">学员可以在一体上自助查询余额、消费记录，自助购物、自助缴扣款等</p>
                        </div>
                    </li>
                    <li class="intro-feature-wrap">
                        <div class="intro-feature">
                            <h3><span class="glyphicon glyphicon-cog text-primary" aria-hidden="true"> 限额控制灵活</span></h3>
                            <p class="intro-feature-desc">根据处遇级别，支持多种模式来控制犯人的月消费额度</p>
                        </div>
                    </li>
                    
                </ul>
            </div>*@
                        @*<div class="col-sm-6">
            <ul id="intro">
                <li class="intro-feature-wrap">
                    <div class="intro-feature">
                        <h3><span class="glyphicon glyphicon-qrcode text-primary" aria-hidden="true"> 消费功能丰富</span></h3>
                        <p class="intro-feature-desc">系统提供超市消费、医药牙科消费、加餐消费、购书购报消费及特殊消费等</p>
                    </div>
                </li>
                <li class="intro-feature-wrap">
                    <div class="intro-feature">
                        <h3><span class="glyphicon glyphicon-road text-primary" aria-hidden="true"> 购物简单方便</span></h3>
                        <p class="intro-feature-desc">提供图文并茂的网购和集中代购两种购物模式，以兼顾各类人员灵活网购订货</p>
                    </div>
                </li>

                <li class="intro-feature-wrap">
                    <div class="intro-feature">
                        <h3><span class="glyphicon glyphicon-pencil text-primary" aria-hidden="true"> 离所结算简单</span></h3>
                        <p class="intro-feature-desc">简单方便的离所结算操作，结算后银行卡可正常使用，方便后续资金补发</p>
                    </div>
                </li>
                <li class="intro-feature-wrap">
                    <div class="intro-feature">
                        <h3><span class="glyphicon glyphicon-inbox text-primary" aria-hidden="true"> 报表丰富完整</span></h3>
                        <p class="intro-feature-desc">系统提供灵活多样的各类财务、消费、库存统计报表，以及Excel 导出功能</p>
                    </div>
                </li>
            </ul>
        </div>*@
        </div>

 

        @*<div class="row">
            <img src="~/Content/images/Welcome.jpg" />
        </div>*@
    </div>
    
    <div class=""></div>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
