
@*填写号房信息*@
<div class="page-header text-center" id="userRoom" style="display:none;">
    <div class="page-header">
        <h1>消费结算单 <small><label id="submitOrderNumber"></label>,请核对您的结算信息</small></h1>
    </div>
    <div>
        <div class="panel panel-danger">
            <!-- Default panel contents -->

            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <thead class="text-right">
                        <tr><th>图标</th><th>简码</th><th>品名</th><th>条码</th><th>数量</th><th>金额</th><th>操作</th></tr>
                    </thead>
                    <tbody id="tbodyJieShuanList"></tbody>
                </table>
            </div>
            <div class="row">
                @if (ViewData["softNumerKeyBoard"].ToString() == "1")
                {
                    <div class="col-sm-9">
                        <div class="panel-heading alert-danger">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-left">
                                        <div class="form-group form-inline text-right">
                                        </div>
                                        <div class="form-group form-inline text-right">
                                            <strong>实付金额:</strong>

                                            <span class="label label-warning" style="font-size:x-large"> ¥ <span id="submitMoney">0.00</span></span>
                                        </div>
                                        <div class="form-group form-inline text-right">

                                        </div>
                                        <div class="form-group form-inline text-right">
                                            <label for="userRoomNO">配货房间号：</label>
                                            <input type="text" class="form-control" id="userRoomNO" name="userRoomNO" onkeyup="checkRate(this.id)" onkeydown="    if (event.keyCode == 13) $('#btnPayCheckSubmit').focus();" placeholder="请输入房间号(01-20)">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="panel-footer">

                            <div class="form-group text-right">
                                <strong>购物人: </strong>
                                <span id="submitFCrimeName"></span>
                                （<span id="submitAreaName"></span>）
                                <button type="button" class="btn btn-success"
                                        onclick="goSaleHead()">
                                    返回购物
                                </button>
                                <button type="button" class="btn btn-danger" id="btnPayCheckSubmit" onclick="PayCheckSubmit()">
                                    确认提交
                                </button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12">
                        <div class="panel-heading alert-danger">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-left">
                                        <div class="form-group form-inline text-right">
                                        </div>
                                        <div class="form-group form-inline text-right">
                                            <strong>实付金额:</strong>

                                            <span class="label label-warning" style="font-size:x-large"> ¥ <span id="submitMoney">0.00</span></span>
                                        </div>
                                        <div class="form-group form-inline text-right">

                                        </div>
                                        <div class="form-group form-inline text-right">
                                            <label for="userRoomNO">配货房间号：</label>
                                            <input type="text" class="form-control" id="userRoomNO" name="userRoomNO" onkeyup="checkRate(this.id)" onkeydown="    if (event.keyCode == 13) $('#btnPayCheckSubmit').focus();" placeholder="请输入房间号(01-20)">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="panel-footer">

                            <div class="form-group text-right">
                                <strong>购物人: </strong>
                                <span id="submitFCrimeName"></span>
                                （<span id="submitAreaName"></span>）
                                <button type="button" class="btn btn-success"
                                        onclick="goSaleHead()">
                                    返回购物
                                </button>
                                <button type="button" class="btn btn-danger" id="btnPayCheckSubmit" onclick="PayCheckSubmit()">
                                    确认提交
                                </button>
                            </div>
                        </div>
                    </div>
                }

                @if (ViewData["softNumerKeyBoard"].ToString() == "1")
                {
                    <div class="col-sm-3" id="div_JSKeyBoard">
                        @{Html.RenderPartial("~/Views/Shopping/_PartialNumberKeyBoard.cshtml");}
                    </div>
                }

            </div>

        </div>


    </div>


</div>
