
@*数字键盘*@

<input type="hidden" id="RoomNoGount" value="" />@*用来记录监时数量的*@
<div class="row">
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(7)">
            7
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(8)">
            8
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(9)">
            9
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary">
            删除
        </button>
    </span>


</div>

<div class="row">

    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(4)">
            4
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(5)">
            5
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(6)">
            6
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary">
            /
        </button>
    </span>

</div>

<div class="row">
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(1)">
            1
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(2)">
            2
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnRoomNo(3)">
            3
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnNumer('')">
            清空
        </button>
    </span>
</div>

<div class="row">
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnNumer('0')">
            0
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-circle button-raised button-primary" onclick="btnNumer('.')">
            .
        </button>
    </span>
    <span class="button-wrap">
        <button class="button button-pill button-raised button-primary" onclick="btnNumer('OK')">
            确认
        </button>
    </span>
</div>




@*<div class="row">
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(7)">
                7
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(8)">
                8
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(9)">
                9
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo('-1')">
                删除
            </button>
        </span>


    </div>

    <div class="row">

        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(4)">
                4
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(5)">
                5
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(6)">
                6
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" >
                /
            </button>
        </span>

    </div>



    <div class="row">
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(1)">
                1
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(2)">
                2
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo(3)">
                3
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo('')">
                清空
            </button>
        </span>
    </div>

    <div class="row">
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo('0')">
                0
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-circle button-raised button-primary" onclick="btnEntRoomNo('.')">
                .
            </button>
        </span>
        <span class="button-wrap">
            <button class="button button-pill button-raised button-primary" onclick="btnEntRoomNo('ent')">
                确认
            </button>
        </span>
    </div>*@

