@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default/_Layout_Top.cshtml";
}
<link href="~/Content/MyCss/bg_Image.css" rel="stylesheet" />


<div class="bg">

    <h1 class="text-center colorJingYong">欢迎进入电子购物管理平台</h1>
</div>