
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintOutPrisonReport</title>    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center">结算凭证</h2>
                
                
            
                <p>
                    兹 <strong><u> 张三三 (一病区)</u></strong>,于<strong>
                        <u> @DateTime.Today.ToShortDateString() </u>
                    </strong>
                    已经办理出狱手续。
                    开户档案号:<strong>
                        <u> 3501010000 </u>
                    </strong>,银行卡号:<strong>
                        <u> 6227001022330000123 </u>
                    </strong>已办理消费卡销户手续，请凭此单由经办人领取罪犯银行卡。
                </p>
                <table>
                    <tr style="height:20px;">
                        <td style="width:600px;"></td>
                        <td style="width:300px;">日期：@DateTime.Today.ToShortDateString()</td>
                        <td style="width:200px;">(第一联 财务科)</td>
                    </tr>
                </table>
                <br />
                <table>
                    <tr><td style="width:160px;">经办人：</td><td style="width:160px;">分监区：</td><td style="width:200px;">监区领导：</td><td>供应站：</td></tr>
                </table>    

                
                
                <hr />
                
                <h2 class="text-center">结算凭证</h2>
                
                <p>
                    兹 <strong><u> 张三三 (一病区)</u></strong>,于<strong>
                        <u> @DateTime.Today.ToShortDateString() </u>
                    </strong>
                    已经办理出狱手续。
                    开户档案号:<strong>
                        <u> 3501010000 </u>
                    </strong>,银行卡号:<strong>
                        <u> 6227001022330000123 </u>
                    </strong>已办理消费卡销户手续，请凭此单由经办人领取罪犯银行卡。
                </p>
                <table>
                    <tr style="height:20px;">
                        <td style="width:600px;"></td>
                        <td style="width:300px;">日期：@DateTime.Today.ToShortDateString()</td>
                        <td style="width:200px;">(第二联 供应站)</td>
                    </tr>
                </table>
                <br />
                <div class="row">
                    <div class="col-sm-9 text-right" style="width:600px;">经办人：</div>
                </div>

                <br />
                <hr />
                <div>
                
                
                <div>
                    <h2 class="text-center">消费一卡通结算凭证</h2>

                    <table>
                        <tr style="height:20px;">
                            <td style="width:600px;">单位:福建省永安监狱</td>
                            <td style="width:300px;">日期：@DateTime.Today.ToShortDateString()</td>
                            <td style="width:200px;">(第三联 持卡人)</td>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <td>狱政编号:</td>
                            <th>3501010000</th>
                            <td>学员姓名:</td>
                            <th colspan="2">张三三</th>
                            <td rowspan="3" style="width:100px; line-height:100px;">相片</td>
                        </tr>
                        <tr>
                            <td>银行卡号:</td>
                            <th colspan="4">6227001022330000123</th>

                        </tr>
                        <tr>
                            <td>结算余额:</td>
                            <th colspan="4"> <span id="jsMoney1"></span>(385.00 )</th>

                        </tr>
                        <tr>
                            <th colspan="6"><p>注:本卡已冻结，请在一个月内携带释放证及本凭证到 <u><strong>‘福建省中国银行营业点’</strong></u> 办理销户手续。银行咨询电话：0598-3635255</p></th>
                        </tr>
                    </table>



                </div>
                <hr />
                <div>
                    <h2 class="text-center">消费一卡通结算凭证</h2>

                    <table>
                        <tr style="height:20px;">
                            <td style="width:600px;">单位:一病区</td>
                            <td style="width:300px;">日期：@DateTime.Today.ToShortDateString()</td>
                            <td style="width:200px;">(第四联 监区)</td>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <td>狱政编号:</td>
                            <th>3501010000</th>
                            <td>服刑人员姓名:</td>
                            <th colspan="2">张三三</th>
                        </tr>
                        <tr>
                            <td>银行卡号:</td>
                            <th colspan="4">6227001022330000123</th>

                        </tr>
                        <tr>
                            <td>结算余额:</td>
                            <th colspan="4"><span id="jsMoney2"></span>(385.00 )<input type="hidden" id="jsMoney" value="385.00" /></th>

                        </tr>
                        <tr>
                            <th colspan="5">备注:该服刑人员一卡通已结算清，银行卡已领走并收回IC卡</th>
                        </tr>
                    </table>
                    <table>
                        <tr><td style="width:500px;">罪犯：</td><td>经办人：</td></tr>
                    </table>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div> 
            <br />
    </div>
    </div>
    @*<script src="~/Content/JS/jquery-1.12.4.min.js"></script>
    <script src="~/Content/JS/bootstrap.min.js"></script>
    <script src="~/Content/JS/myJs/commonJs.js"></script>*@

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myJs/commonJs.js"></script>

    <script type="text/javascript">
        $(function () {
            var jsmoney = $("#jsMoney").val();
            $("#jsMoney1").html("人民币:" + DX(jsmoney) + "");
            $("#jsMoney2").html("人民币:" + DX(jsmoney) + "");

        });
    </script>
</body>
</html>
