
@{
    ViewBag.Title = "MsgDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="row">
        
        <div class="col-sm-11">
            @if (ViewData["newNotify"] != null)
            {
                SelfhelpOrderMgr.Model.T_NotifyFile nf=ViewData["newNotify"] as SelfhelpOrderMgr.Model.T_NotifyFile;
                <h4>内容详情   <small><code>日期</code>:@nf.FDate</small>     <small><code>作者</code>:@nf.FAuthor</small></h4>
            }

        </div>
        <div class="col-sm-1">
            <h2>
                <a href="/Message/Index" class="btn btn-default">返回列表</a>
            </h2>
        </div>
    </div>

</div>

<div>
    @if (ViewData["newNotify"] != null)
    {
        SelfhelpOrderMgr.Model.T_NotifyFile nf = ViewData["newNotify"] as SelfhelpOrderMgr.Model.T_NotifyFile;
        string[] fileNames = nf.LinkWebFile.Split((char)59);
        if (fileNames.Length == 1)
        {
            if (fileNames[0].EndsWith(".jpg") || fileNames[0].EndsWith(".JPG")
                || fileNames[0].EndsWith(".jepg") || fileNames[0].EndsWith(".JEPG")
                || fileNames[0].EndsWith(".png") || fileNames[0].EndsWith(".PNG"))
            {

                <ul class="list-group">
                    <li class="list-group-item">
                        <img src="/@fileNames[0]" alt="..." class="img-thumbnail">
                    </li>

                </ul>
            }
            else
            {
                <iframe id="myIframe" style=" width:100%; height:400px;" src="/@fileNames[0]" frameborder="0"></iframe>
            }

        }
        else if (fileNames.Length >= 2)
        {
            <ul class="list-group">

                @for (int i = 0; i < fileNames.Length; i++)
                {
                    <li class="text-center">
                        <img src="/@fileNames[i]" alt="..." class="img-thumbnail">
                    </li>
                }
            </ul>
            @*<iframe id="myIframe" style=" width:100%; height:400px;" src="/@nf.LinkWebFile" frameborder="0"></iframe>*@
        }

    }
    else
    {
        <h2>没有相应的文件</h2>
    }
</div>

