
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AsrTest</title>
</head>
<body>
    <div>
        <input type="button" id="btnSumbit" onclick="SendInfo()" value="上传" />
        <div id="rtnInfo">

        </div>
        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/AsrTest/asrTest.js"></script>
        <script type="text/javascript">


        </script>
    </div>
</body>
</html>
