@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WEB打印控件LODOP的样例三:用程序代码生成打印页</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.min.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>

    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
</head>
<body>
    <div>
        <form id="ff" method="post">
            <div>
                <label for="name">Name:</label>
                <input class="easyui-validatebox" type="text" name="name" data-options="required:true" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input class="easyui-validatebox" type="text" name="email" data-options="validType:'email'" />
            </div>

        </form>

        <button type="button" onclick="getForm()">手动提交</button>
    </div>

    <script>

        function getForm() {
            console.log("准备调用表单.....");

            $('#ff').form({
                url:"/Home/CheckFace",
                onSubmit: function () {
                    // do some check
                    // return false to prevent submit;
                },
                success: function (data) {
                    console.log(data);
                    alert(data)
                }
            });
            // submit the form
            $('#ff').submit();
        }
    </script>

</body>
</html>



