@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>基于tracking的取人脸</title>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <link href="~/Scripts/diyUpload/css/webuploader.css" rel="stylesheet" />
    <link href="~/Scripts/diyUpload/css/diyUpload.css" rel="stylesheet" />
    <script src="~/Scripts/diyUpload/js/diyUpload.js"></script>
    <script src="~/Scripts/diyUpload/js/webuploader.html5only.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/timeline.css" rel="stylesheet" />

    <script src="~/Scripts/tracking-js/tracking-min.js"></script>
    <script src="~/Scripts/tracking-js/face-min.js"></script>

    <style>

        body {
            font-family: 'Lato';
            background-color: #f0f0f0;
            margin: 0px auto;
            max-width: 1150px;
        }

        #overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            -ms-filter: fliph; /*IE*/
            filter: fliph; /*IE*/
        }

        /*#video {
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            -ms-filter: fliph;
            IE filter: fliph;
            IE object-fit: cover;
        }*/

        video, #canvas, #canvas1 {
            border-radius: 50%;  设置圆角 
        }

        /*video, #canvas, #canvas1 {
            position: absolute;
            width: 300px;
            height: 300px;
        }*/


        #canvas1 {
            position: absolute;
        }

        #container {
            position: relative;
            width: 300px;
            height: 300px;
            border: 1px solid #ebebeb;
            border-radius: 50%;
            overflow: hidden;
            margin: 0px auto;
        }

        h2 {
            font-weight: 400;
        }

        .nogum {
            display: none;
        }

        .btn {
            font-family: 'Lato';
            font-size: 16px;
        }

        /*========Start==================*/



        /*.container {
            position: relative;
            width: 300px;
            height: 300px;
        }*/

        #keepImg {
            width: 100px;
            height: 100px;
            background-color: pink;
            display: inline-block;
            /*float: left;*/
        }

        #btn {
            width: 100px;
            height: 100px;
            background-color: deeppink;
            display: inline-block;
            /*float: left;*/
        }

        /*========End======================*/

        .hide {
            display: none;
        }

        .nohide {
            display: block;
        }

        .reidentification {
            display: none;
        }

            .reidentification.active {
                display: block;
            }
    </style>
</head>
<body>

    <div id="content">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <br /><br /><br />
                    @*<img src="~/Content/GoodsImages/Logo.png" />*@
                    @if (ViewData["loginCheck"] != null)
                    {
                        var loginCheck = ViewData["loginCheck"].ToString();
                        if (loginCheck == "2")
                        {
                            <img src="~/Content/images/police.png" class="img-circle" />
                        }
                        else
                        {

                            <img src="~/Content/images/shopping.png" class="img-circle" />
                        }
                    }
                    else
                    {
                        <img src="~/Content/images/shopping.png" class="img-circle" />

                    }

                    <h4>智慧人脸购物中心</h4>
                    <h5>操作简单、使用便捷、安全放心</h5>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="exampleInputEmail1">账号</label>
                            <input type="number" class="input-lg" id="fcrimecode" value="@ViewData["FUserCode"]" placeholder="输入用户账号" />
                        </div>
                        <button id="btnStartFaceCheck" class="twinkle btn-primary btn-lg btn-block active ">开始识别</button>
                    </div>
                </div>




            </div>
            <div class="col-md-6">
                <br/><br />
                <div class="row" style="height:300px;">
                    <div class="container">
                        <video id="video" width="400" height="300"  style="position: absolute; left: 50%; transform: translate(-50%, -0%);" preload="auto" loop playsinline muted autoplay webkit-playsinline='true'></video>
                        <canvas id="canvas" width="400" height="300"  style="position: absolute; left: 50%; transform: translate(-50%, -0%);" ></canvas>
                        <canvas id="canvas1" width="400" height="300"  style="position: absolute; left: 50%; transform: translate(-50%, -0%);" ></canvas>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="text-center"><h3 id="faceCheckResultInfo">点击【开始识别】按钮进行识别</h3></div>
                    <div style="display:none">

                        <div id="keepImg">保存图片</div>
                        <div id="btn">截图</div>


                    </div>
                    <canvas id="shortCut" width="200" height="200"></canvas>
                    <div id="img"></div>

                </div>

                


            </div>
            <div class="col-md-3">
                <div class="text-center">

                    <div class="row">
                        <h3>人脸识别<small>需对人员进行活体检测</small></h3>
                        <div class="timeline">

                            <span class="timeline-label">
                                <span class="label label-primary">启动识别</span>
                            </span>
                            <div class="timeline-item">
                                <div class="timeline-point timeline-point-primary">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="timeline-event timeline-event-default">
                                    <div class="timeline-heading">
                                        <h4>启动识别</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>点击【开始识别】按钮</p>
                                    </div>
                                    @*<div class="timeline-footer">
                                            <p class="text-right">首先</p>
                                        </div>*@
                                </div>
                            </div>

                            <span class="timeline-label">
                                <span class="label label-primary">检测</span>
                            </span>

                            <div class="timeline-item">
                                <div class="timeline-point timeline-point-blank"></div>
                                <div class="timeline-event timeline-event-success">
                                    <div class="timeline-heading">
                                        <h4>检测人脸</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>根据提示眨眼或是摇头进行识别人脸</p>
                                    </div>
                                    @*<div class="timeline-footer">
                                            <p class="text-left">接着</p>
                                        </div>*@
                                </div>
                            </div>

                            <span class="timeline-label">
                                <span class="label label-primary">验证</span>
                            </span>

                            <div class="timeline-item">
                                <div class="timeline-point timeline-point-blank"></div>
                                <div class="timeline-event timeline-event-success">
                                    <div class="timeline-heading">
                                        <h4>辨别身份</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>正确识别您的身份</p>
                                    </div>
                                    @*<div class="timeline-footer">
                                            <p class="text-right">最后</p>
                                        </div>*@
                                </div>
                            </div>

                            <span class="timeline-label">
                                <button class="btn btn-danger"><i class="fa fa-ambulance"></i></button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>




        @*<button class="twinkle ">请眨眼</button>
            <button class="shakeHead">请摇头（第一种方式）</button>
            <button class="reidentification active">请重新进行人脸识别</button>
            <button class="dataReconstitution">请摇头（第二种方式）</button>
            <div class="imgbox">
                <img src="" alt="">
            </div>*@
    <div style="display:none">

        <input type="hidden" id="callback" value="@ViewData["callback"]" />
        <input type="hidden" id="loginCheck" value="@ViewData["loginCheck"]" />
        <input type="hidden" id="FaceMode" value="@ViewData["FaceMode"]" />
        <form id="checkForm" class="imgbox" method="post" enctype="multipart/form-data" action="/Home/CheckFace">
            <img id="faceImage" src="" name="facephone" alt="">
            <input type="hidden" id="imageSrc" name="imageSrc" value="" />
            @*<input type="submit" value="上传" />
            <input id="btnReadAddr" type="button" value="地址" />*@
        </form>
    </div>


        @*<hr />
            <a href="/Home/MulitImageUpload" class="btn btn-primary btn-lg active" role="button">注册人脸</a>

            <form id="taskForm" method="post" enctype="multipart/form-data" action="/Home/RegisterFace">
                <input type="file" id="photoNames" name="photoNames" multiple="multiple" />
                <input type="submit" value="注册人脸" />
            </form>*@

    </div>


    <script>
        var speechSU = new window.SpeechSynthesisUtterance();//语音识别
        var faceStartFlag = 0;
        var saveArray = {};
        

        //启动人脸
        function faceStart() {
            var video = document.getElementById('video');
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');

            var tracker = new tracking.ObjectTracker('face');
            tracker.setInitialScale(4);
            tracker.setStepSize(2);
            tracker.setEdgesDensity(0.1);

            tracking.track('#video', tracker, { camera: true });

            tracker.on('track', function (event) {
                context.clearRect(0, 0, canvas.width, canvas.height);

                event.data.forEach(function (rect) {
                    context.strokeStyle = '#fff';
                    context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                    //context.font = '11px Helvetica';
                    context.fillStyle = "#fff";
                    // context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
                    // context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
                    //console.log(rect.x, rect.width, rect.y, rect.height);
                    saveArray.x = rect.x;
                    saveArray.y = rect.y;
                    saveArray.width = rect.width;
                    saveArray.height = rect.height;
                });
            });

            //启动人脸捕捉
            setInterval(function () {
                //console.log(saveArray);
                if (saveArray.x > 100 &&
                    saveArray.x + saveArray.width < 300 &&
                    saveArray.y > 50 &&
                    saveArray.y + saveArray.height < 250 &&
                    saveArray.width < 180
                    && saveArray.height < 180) {
                    //增加判断，启动标志是1就开始，0就不抓拍
                    console.log("标记：" + faceStartFlag);
                    if (faceStartFlag == 1) {
                        console.log("开始抓取图片");
                        console.log(saveArray);
                        getPhoto();
                        for (var key in saveArray) {
                            delete saveArray[key];
                        }
                    }
                }
            }, 3000);

            //faceStart(saveArray);

            function getPhoto() {
                context2.drawImage(video, 55, 65, 500, 500, 0, 0, 140, 140); //将video对象内指定的区域捕捉绘制到画布上指定的区域，实现拍照。
                $("#faceCheckResultInfo").html("已截取图片");
                console.log("已截取图片");
                $("#faceImage").attr("src", convertCanvasToImage(can).src)
                faceStop();//停止捕捉人脸
                CheckFaceFunc();

            }
            //截图
            var btn = document.getElementById("btn");
            btn.onclick = function () {
                getPhoto();
            }
            var canvas1 = document.getElementById('canvas1');
            var context1 = canvas1.getContext('2d');
            var can = document.getElementById('shortCut');
            var context2 = can.getContext('2d');
            /*context1.strokeStyle = "#69fff1";*/
            context1.strokeStyle = "#0000FF";
            context1.moveTo(100, 50);
            context1.lineTo(300, 50);
            context1.lineTo(300, 250);
            context1.lineTo(100, 250);
            context1.lineTo(100, 50);
            context1.stroke();

            

            var img = document.getElementById("img")
            //将canvas转化为图片
            function convertCanvasToImage(canvas) {
                var image = new Image();
                image.src = canvas.toDataURL("image/png");
                return image;
            }
            //保存图片
            var keepImg = document.getElementById("keepImg");
            keepImg.onclick = function () {
                var photoImg = document.createElement("img");
                photoImg.src = convertCanvasToImage(can).src;
                img.appendChild(photoImg);
                //获取到转化为base64的图片地址
                console.log(convertCanvasToImage(can).src);
            }
            //拍照
        };

        window.onload = faceStart();



        function faceStop() {
            faceStartFlag=0;//停止抓拍
        }
        //增加部分
        $('#btnReadAddr').click(function () {
            //console.log($("#faceImage").attr("src"));
            $("#imageSrc").val($("#faceImage").attr("src"));
            //alert("Image width " + $("#faceImage").attr("src"));
        })



        $("#checkForm").submit(function (e) {
            e.preventDefault();
            $("#imageSrc").val($("#faceImage").attr("src"));
            //alert("Submit prevented");
            $.post("/Home/CheckFace", { "fcrimecode": $("#fcrimecode").val(), "imageSrc": $("#imageSrc").val(), "faceMode": $("#FaceMode").val() }, function (data, status) {
                if ("success" == status) {
                    alert(data);
                }
            });
        });

        //$("#faceImage").on('load', function () {
        //    //alert($("#faceImage").attr("src"));
        //    CheckFaceFunc();

        //});


        function compressImage(srcBase64, maxWidth, maxHeight, outputFormat, quality, callback) {
            var img = new Image();
            img.onload = function () {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                var width = img.width;
                var height = img.height;

                if (width > maxWidth) {
                    height *= maxWidth / width;
                    width = maxWidth;
                }

                if (height > maxHeight) {
                    width *= maxHeight / height;
                    height = maxHeight;
                }

                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0, width, height);

                var newDataUrl = canvas.toDataURL(outputFormat, quality);
                callback(newDataUrl);
            };
            img.src = srcBase64;
        }


        function CheckFaceFunc() {
            console.log("Call CheckFaceFunc");
            $("#imageSrc").val($("#faceImage").attr("src"));

            //console.log('原始 image:', $("#imageSrc").val());
            compressImage($("#imageSrc").val(), 150, 150, 'image/png', 0.7, function (compressedImage) {
                //console.log('Compressed image:', compressedImage);
                
                // 在这里可以将压缩后的图片作为Base64字符串上传到服务器或者进行其他操作
                $.post("/Home/CheckFace", { "loginCheck": $("#loginCheck").val(), "fcrimecode": $("#fcrimecode").val(), "imageSrc": compressedImage, "faceMode": $("#FaceMode").val() }, function (data, status) {
                    if ("success" == status) {
                        //$("#faceImage").off('load');
                        console.log(data);
                        if (data.Flag == true) {
                            //console.log("wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww");
                            //console.log(data);
                            //$("#userId").html("用户:" + data.DataInfo.UserName);
                            //alert($("#userId").html());
                            //alert($("#loginCheck").val());
                            if ($("#loginCheck").val() == 2) {
                                if ($("#loginCheck").val() == 2 && data.DataInfo.typeFlag == 1) {
                                    speechSU.text = "登录成功";
                                    window.open($("#callback").val() + "&printFlag=LoginOK122342124121123131231122&loginFlag=LoginOK122342124121123131231122&managerCardNo=" + data.DataInfo.UserCode, "_self");
                                } else {
                                    speechSU.text = "请联系民警刷脸登录";
                                }
                            }
                            else {
                                if (data.DataInfo.typeFlag == 0) {
                                    if ($("#FaceMode").val() == "0002") {
                                        speechSU.text = data.ReMsg;
                                        window.open($("#callback").val() + "&FaceMode=0002&printFlag=LoginOK122342124121123131231122&loginFlag=LoginOK122342124121123131231122&fcrimecode=" + data.DataInfo.UserCode, "_self");
                                    } else {
                                        speechSU.text = data.DataInfo.UserName;
                                        window.open($("#callback").val() + "&FaceMode=&printFlag=LoginOK122342124121123131231122&loginFlag=LoginOK122342124121123131231122&fcrimecode=" + data.DataInfo.UserCode, "_self");
                                    }
                                } else {
                                    //alert(data.DataInfo.typeFlag);
                                    $("#faceCheckResultInfo").html("系统管理用户不能用于消费购物");
                                    //speechSU.text = "系统管理用户不能用于消费购物";

                                    //失败后休眠2秒后开始验证
                                    setTimeout(function () {
                                        faceStartFlag = 1;//重新启动人脸检测捕捉
                                    }, 2000);

                                }
                            }

                        } else {
                            //$("#userId").html(data.ReMsg);
                            $("#faceCheckResultInfo").html(data.ReMsg);

                            ////失败后休眠2秒后开始验证
                            setTimeout(function () {
                                faceStartFlag = 1;//重新启动人脸检测捕捉
                            }, 2000);

                        }
                        //userFace.faceFlag = '10';//未启用
                        //userFace.init();//同时开启重新检测
                        //播放提示
                        //speechSU.text = data;
                        //window.speechSynthesis.speak(speechSU);


                    }
                });
            });

            //alert("Submit prevented");                                                                                       $("#imageSrc").val()
            
        }

        function btnStartFaceCheck(){
            speechSU.text = "开始识别，请将人像移到蓝色提示框内";
            window.speechSynthesis.speak(speechSU);
            faceStartFlag = 1;//启动抓拍
        }

        //开始人脸检测
        $("#btnStartFaceCheck").click(function () {
            btnStartFaceCheck();
        });

        $(document).ready(function () {
            //失败后休眠2秒后开始验证
            setTimeout(function () {
                btnStartFaceCheck();
            }, 1000);
            
        });

    </script>

</body>
</html>
