@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>库存盘点</title>
    @{Html.RenderPartial("~/Views/Shared/_PartialHeadPage.cshtml");}
</head>
<body class="easyui-layout">
    <div data-options="region:'west',title:'库存盘点',split:true" style="width:800px;">
        <div style="height:300px;">
            <input type="hidden" id="typeName" />
            <table id="test" class="easyui-datagrid" toolbar="#tb"></table>
            <label>注意：数量为0的记录不保存生效,即可无限量供应。</label>
        </div>

        <div id="tb" style="padding:5px;height:auto">
            <div>
                选择指定类别:
                <select id="FSelectType" name="FSelectType" class="easyui-combobox" style="width:190px;">
                    <option value="0" selected="selected">请选择类别</option>
                    @if (ViewData["goodtypes"] != null)
                    {
                        foreach (SelfhelpOrderMgr.Model.T_GoodsType type in ViewData["goodtypes"] as List<SelfhelpOrderMgr.Model.T_GoodsType>)
                        {
                            <option value="@type.Fcode">@type.Fname</option>
                        }
                    }
                </select>
                指定商品状态:
                <select id="FSelectArea" name="FSelectArea" class="easyui-combobox" style="width:190px;">
                    @*<option value="" selected="selected">请选商品状态</option>*@
                    @if (ViewData["gStatuses"] != null)
                    {
                        foreach (SelfhelpOrderMgr.Model.T_CommonTypeTab gStatuse in ViewData["gStatuses"] as List<SelfhelpOrderMgr.Model.T_CommonTypeTab>)
                        {
                            <option value="@gStatuse.FCode">@gStatuse.FName</option>
                        }
                    }
                </select>


                <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="AddTypeGoods()">查询</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="BatchSaveDg()">保存</a>
            </div>
        </div>

        <div id="editWindows" title="信息编辑栏" data-options="iconCls:'icon-edit'" style="height:550px; width:500px; padding:10px;background:#fafafa;">
            <form method="post">
                <input type="hidden" id="dotype" />

            </form>
        </div>

    </div>

    <script src="~/Scripts/myJs/StockPandian.js"></script>
    @*<script type="text/javascript">
            function formatStatus(value, row, index) {
                if (value=='Y') {
                    return '正常';
                } else {
                    return '停用';
                }
            }
        </script>*@
</body>
</html>
